*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 62.5em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 50em) {
  html {
    font-size: 45%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  font-family: Open Sans;
  color: #000000;
  font-weight: 300;
  line-height: 1.6;
  background-image: -webkit-gradient(linear, left top, right top, from(#e0e0e0), to(#fff));
  background-image: linear-gradient(to right, #e0e0e0, #fff);
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 8vh 84vh 8vh;
      grid-template-rows: 8vh 84vh 8vh;
  -ms-grid-columns: [full-start] minmax(6rem, 1fr) [center-start] ([col-start] minmax(min-content, 20rem) [col-end])[8] [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(-webkit-min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
}

.header {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  width: 100%;
}

.header__nav {
  display: -ms-grid;
  display: grid;
  margin-right: 25%;
  margin-left: 3rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.header__nav a:link,
.header__nav a:visited {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 2rem;
  font-weight: 400;
}

.header__signup {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  white-space: nowrap;
}

.header__signup--area {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.header__signup--area-text {
  color: #000;
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
}

.header__signup--area-line {
  width: 6rem;
  -webkit-transform: translateX(1rem) translateY(-1rem);
          transform: translateX(1rem) translateY(-1rem);
}

.header__signup--logo {
  margin-left: 1rem;
  height: 4rem;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 5rem 5rem 1fr;
      grid-template-columns: 5rem 5rem 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 3rem;
}

.footer--3 {
  -ms-grid-column-align: end;
      justify-self: end;
  font-size: 2rem;
  font-weight: 300;
}

.content {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  grid-column: center-start/center-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 5fr 2fr;
      grid-template-columns: 5fr 2fr;
}

.content__picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 60%;
}

.content__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 3fr 1fr;
      grid-template-rows: 1fr 3fr 1fr;
}

.content__form--title {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-row-align: center;
      align-self: center;
}

.content__form--title-1 {
  font-size: 2.2rem;
  font-weight: 400;
}

.content__form--title-line {
  width: 6rem;
  -webkit-transform: translateX(1rem) translateY(-2rem);
          transform: translateX(1rem) translateY(-2rem);
}

.content__form--title-2 {
  font-size: 2.2rem;
  font-weight: 300;
}

.content__form--input {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[7];
      grid-template-rows: repeat(7, 1fr);
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.content__form--input-label {
  font-size: 2.2rem;
  font-weight: bold;
}

.content__form--input-text {
  width: 90%;
  height: auto;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #707070;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content__form--input-btn {
  width: 20rem;
  border: none;
  height: 5rem;
  font-size: 2.2rem;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  -ms-grid-column-align: center;
      justify-self: center;
}

.content__form--input-link:link, .content__form--input-link:visited {
  text-decoration: none;
  font-size: 2.2rem;
  font-weight: 300;
  white-space: nowrap;
  color: #000;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.content__form--input-divider {
  width: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.content__form--social {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  justify-items: center;
}
/*# sourceMappingURL=main.css.map */