//COLORS
$profile-photo-bg: #ededed;
$color-primary-light: #4c5da9;
$color-primary-light-opaque: rgba(76, 93, 169, 0.452);
$color-primary-dark: #6170b3;
$card-shadow: rgba(168, 167, 167, 0.726);
$white: #ffffff;
$button-text: #4c5da9;

//Gradients
$yellow-shade: #deeb2154;
$red-shade: #f50b0b57;

//FONT COLORS
$header-nav: #262626;
$profile-detail: #757575;
$profile-detail-name: #3d3d3d;

$footer-text: #606060;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; //600px
